<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="master.html" />
  <head>
    <title>Change password</title>
  </head>
  <body>
    <h1>Change password</h1>
	<div class="help">
	  Write the old password and the new password twice to verify that it 
	  is correct.
	</div>
	<form>
	  <table>
		<tr>
		  <td>Old password:</td>
		  <td><input /></td>
		</tr>
		<tr>
		  <td>New password:</td>
		  <td><input /></td>
		</tr>
		<tr>
		  <td>New password:</td>
		  <td><input /></td>
		</tr>
		<tr>
		  <td align="right" colspan="2">
			<input type="submit" value="OK"/>
		  </td>
		</tr>
	  </table>
	</form>
  </body>
</html>
