<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="master.html" />
  <head>
    <title>Users</title>
  </head>
  <body>
    <h1>Users</h1>
	<div class="help">
	  This lists all the users in the system.<br/>
	  <a href="/users/add">Add user</a>
	</div>
	<table class="listing">
	  <thead>
		<tr>
		  <th>Login</th>
		  <th>Name</th>
		  <th>Type</th>
		</tr>
	  </thead>
	  <tbody>
		<py:for each="user in users">
		  <tr>
			<td><a href="/users/user/${user.login}">${user.login}</a></td>
			<td>${user.fullname}</td>
			<td>${user.type}</td>
		  </tr>
		</py:for>
	  </tbody>
	</table>
  </body>
</html>
